body{
    margin: 0px;
    background-image: url(https://i.gifer.com/6zvA.gif);
    background-size:500px 500px;
}
.maincontainer{
    padding-bottom: 100px;
    /* background-color: rgb(6, 7, 9); */
}
.navbar{
    width: 1523px;
    background-color: rgb(29, 19, 55);
    display: flex;
    height:50px;
    border:2px solid rgb(137, 98, 247);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 189, 182); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fffefe; 
  }
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    height:40px;
    color: chartreuse;
    margin-top: 5px;
    margin-left: 30px;
}
.Linked-List{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    height:40px;
    color: rgb(89, 96, 82);
    margin-top: 5px;
    margin-left: 100px;
}
.Linked-List a{
    color: rgb(89, 96, 82);
}
.stack{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    height:40px;
    color: rgb(89, 96, 82);
    margin-top: 5px;
    margin-left: 70px;
}
.stack a{
    color: rgb(89, 96, 82);
}
.stack a:hover{
    color:white;
}
.Queue{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    height:40px;
    color: rgb(89, 96, 82);
    margin-top: 5px;
    margin-left: 70px;
}
.Queue a{
    color: rgb(89, 96, 82);
}
.Queue a:hover{
    color:white;
}
.articalcontainer{
    width:1523px;
    height:100vh;
    border: 1px solid rgb(139, 214, 132);
}
.header{
    width: 1500px;
    height: 100px;
    /* border: 1px solid white; */
}
.head{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family:cursive;
    color: aliceblue;
}
.learning-content{
    /* border: 1px solid white; */
    margin-top: 10px;
    display: flex;
}
.middle{
    margin-top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:1500px;
    height: 250px;
    column-gap: 100px;
}
.upperblock{
    display: flex;
    justify-content: center;
    align-items:center;
    width:210px;
    height:135px;  
}
.content1{
    padding:8px;
    width: 200px;
    height: 130px;
    color: azure;
    border: 1px solid rgb(150, 130, 251);
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: rgb(78, 28, 123);
}
.contentimg{
    width:195px;
    height:100px;
    /* border: 1px solid rgb(162, 2, 29); */
}
.contentimg img{
    width:195px;
    height:100px;
    /* border: 1px solid rgb(15, 192, 12); */
}
.contenttag{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(2, 214, 252); */
    width:195px;
    height:max-content;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top:5px;
    background-color: rgb(23, 16, 48);
}
.content1 a{
    color: rgb(255, 246, 127);
}
.lowerblock{
    display: flex;
    justify-content: center;
    align-items: center;
    width:1500px;
    height: 250px;
    /* border: 2px solid rgb(255, 26, 118); */
    column-gap: 80px;
}


.dropbtn {
    background-color: rgb(29, 19, 55);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    margin-left: 100px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(29, 19, 55);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(245, 249, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #403066;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
.head a:hover{
    color:aliceblue;
}
