body{
    background-color: rgb(26, 2, 43);
}
.title{
    margin-top: 50px;
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    font-style: italic;
}
.block{
    display:flex;
}
.blockl{
    margin-top:50px;
    margin-left: 50px;
}
.blockm{
    margin-top:50px;
    margin-left: 70px;
}
.blockr{
    margin-top:50px;
    margin-left: 70px;
}
.v1 iframe .v2 iframe .v3 iframe{

    border-radius: 10px;
}
.platefrom{
    display: flex;
}
.gfg img{
    margin-top: 10px;
    margin-left: 300px;
    width: 70px;
    height: 60px;
}
