body{
    background-color: #252626;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    font-family:'Roboto', sans-serif;
  }
 
  .input{
    margin-left:400px;
    margin-top: 50px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width:500px;
    height:70px;
    resize: vertical;
    background-color: inherit;
    color: white;
    font-weight: 300;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 0.2em;
    transition: 0.3s all;
  }
  .codeinput{
    word-spacing: 10px;
    margin-left:400px;
    margin-top: 50px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width:500px;
    height:max-content;
    resize: vertical;
    background-color: inherit;
    color: white;
    font-weight: 300;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 0.2em;
    transition: 0.3s all;
  }
  
  button{
    background-color: inherit;
    color: white;
    margin: 0.5em;
    font-weight: 300;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 0.2em;
    transition: 0.3s all;
  }
  button:hover, input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  button:focus{
    outline: 0;
  }
  button:active{
    transform: translate(0, 4px);
  }
  input:focus{
    outline: 0;
    background-color: white;
    color: black;
  }
  h2{
    width: max-content;
    margin-left: 450px;
  }
  .h1{
    word-wrap: break-word;
    font-size: 23px;
    width: max-content;
    margin-left: 450px;
    word-spacing: 5px;
  }
 .h2{
    margin-top: 10px;
    font-size: 20px;
    width:600px;
    word-wrap: break-word;
    color: white;
    margin-left: 400px;
    word-spacing: 5px;
 } 
 .calculation{
  font-size:30px;
  width: max-content;
  margin-left: 450px;
  color: rgb(255, 255, 255);
 }
 p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  /* background-color: rgb(66, 64, 64); */
  /* color: rgb(0, 255, 30); */
 }
 h1{
  padding: 5px;
  /* background-color: aliceblue; */
  color: white;
 }