
body{
    background-color: rgb(15, 15, 27);
    margin: 0px;
}
.nav{
    background-color: rgb(36, 27, 117);
    /* border: 2px solid rgb(148, 22, 135); */
    display: flex;
    width:1520px;
    height:50px;
    margin: 0px;
    display: flex;
    align-items: center;
}
.home{
    margin-left:30px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(85, 95, 130);
}
.home a{ 
    color: rgb(85, 95, 130);  
    text-decoration: none; 
}
.home a:hover{
    text-decoration:underline;
}
.container{
    /* border: 1px solid rgb(225, 211, 17); */
    width:1520px;
    height:max-content;
    padding-bottom: 30px;
    scrollbar-color:rgb(15, 15, 27) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 189, 182); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fffefe; 
  }
.maincontainer{
    padding:5px;
    background-color: rgb(11, 6, 15);
    /* border: 2px solid rgb(197, 9, 9); */
    width: 700px;
    height:900px;
    margin-left:350px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;
    /* border: 2px solid white; */
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chartreuse;
    font-weight: 500;
    margin:0px;
}
.bucket{
    /* border: 2px solid green; */
    width: 695px;
    height:800px;
    margin-top:25px;
    padding:5px;
}
.array{
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 100px;
    border: 2px solid white;
    column-gap: 30px;
    margin-left: 45px;
}
.ele1{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(67, 170, 255);
    color:rgb(64, 64, 65);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    width:60px;
    height: 60px;
    border: 2px solid white;
}
input{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(67, 170, 255);
    color:rgb(64, 64, 65);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    width:60px;
    height: 60px;
    border: 2px solid white;
}
.divide_1{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 100px;
    /* border: 2px solid white; */
    column-gap: 50px;
    margin-left: 45px;
    margin-top: 10px;
}

.divide_1-arr1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.divide_1-arr2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}


.divide_2{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 100px;
    /* border: 2px solid white; */
    column-gap: 50px;
    margin-left: 45px;
    margin-top: 10px;
}
.divide_2-arr1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:5px;
}
.divide_2-arr2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:5px;
}
.divide_2-arr3{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:5px;
}
.divide_2-arr4{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:5px;
}


.divide_3{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:650px;
    height: 100px;
    /* border: 2px solid white; */
    column-gap: 50px;
    margin-left:20px;
    margin-top: 10px; 
}
.divide_3-arr1 ,.divide_3-arr2 ,.divide_3-arr3,.divide_3-arr4,.divide_3-arr5,.divide_3-arr6{
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap:5px; */
}
.sortedarray{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 100px;
    border: 2px solid white;
    column-gap: 30px;
    margin-left: 45px;
    margin-top: 10px;
}

.nextbutton{
    margin-top: 0px;
    width:200px;
    height:900px;
    margin-right:400px;
    /* border: 2px solid white; */
}
.head{
    width:190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 201, 229);
    color: rgb(33, 37, 255);
    font-size: 30px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
}
button{
    width:100%;
    height:100%;
    font-size: 15px;
    font-weight: 400;
    font-family: cursive;
    border-radius:5px;
    border:2px double rgb(163, 163, 176);
    border-style: double;
    background-color: rgb(21, 21, 49);
    color: rgb(1, 255, 86);
    cursor: pointer;
}
button:active{
    background-color: rgb(31, 24, 91);
}
.steps{
    width:150px;
    height:800px;
    padding:5px;
    justify-content: center;
    align-items:center;
    /* border: 1px solid white; */
    margin-left: 20px;
}
.step1{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100px;
    height: 50px;
    margin-top: 50px;
    color: rgb(122, 122, 122);
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
}
.step2{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100px;
    height: 50px;
    margin-top: 65px;
    color: rgb(122, 122, 122);
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
}
.success{
    visibility: hidden;
    width:max-content;
    padding: 10px;
    font-size: 40px;
    font-family: monospace;
    font-weight: 400;
   color: rgb(13, 255, 0);
}
